.block{
    color:rgb(255, 255, 255);
    display: block;
    text-align: center;
    width: 700px;
    margin-top: 50px;
    margin-left: 25%;
    height: 550px;
    background: url(фон.jpg);
    font-size: 25px
}
.marker{
    text-align: left;
}
.result{
    font-size: 35px;
    font-weight: bold;
}